body {
    margin: 0;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    min-height: 100vh;
}

#selectBreed,
#viewDog {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 0px;
    font-family: serif;
}

#selectBreed {
    background-size: auto 50%;
    width: 200px;
}

#viewDog {
    cursor: pointer;
    background-color: #ccc;
    letter-spacing: 2px;
}

#breedImage {
    padding: 40vh;
    margin: 20px;
    border: 2px solid goldenrod;
    box-shadow: 0 15px 30px -10px #000;
    background-color: #eee;
    display: flex;
    justify-content: center;
}